/* ここにcssを書いてみましょう */

body {
  padding: 0;
  margin: 0;
}

div, ul, ol, li {
  background-color: rgba(0,25,0,0.2);
}

div, header, footer, ul, ol {
  overflow: hidden;
}

/*-- wrap --*/
#wrap {
  margin: 0 auto;
  width: 800px;
}

/*-- header --*/
#header {
  width: 100%;
}
#header h1 {
  text-align: center;
}
#header nav ul {
  margin: 0;
  padding: 0;
}
#header nav ul li {
  display: block;
  float: left;
  margin: 0;
  width: 20%;
  list-style: none;
  text-align: center;
}
#header nav ul li a {
  display: inline-block;
  line-height: 40px;
}

/*-- about --*/
#about {
  clear: both;
  width: 100%;
  margin: 5px 0;
}
#about ol {
  width: 762px;
  margin: 0 auto;
  padding: 0;
}
#about ol li {
  float: left;
  width: 250px;
  margin: 0 2px;
  list-style: none;
}

/*-- body --*/
#body {
  width: 100%;
  margin: 0;
  padding: 0;
}
#body #main {
  float: left;
  width: 600px;
}
#body #main .breadcrumbs ol {
  margin: 0;
  padding: 0;
}
#body #main .breadcrumbs ol li {
  float: left;
  list-style: none;
}
#body #main .breadcrumbs a:after {
  content: ">";
  margin: 7px;
}
#body #sub {
  float: right;
  width: 200px;
}

/*-- footer --*/
#footer{
  width: 100%;
}
#footer nav ul li {
  float: left;
}
#footer p.copyright {
  clear: both;
  text-align: center;
}
