@charset "UTF-8";
/* line 17, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Copyright (c) 2010, Yahoo! Inc. All rights reserved.
 * Code licensed under the BSD License:
 * http://developer.yahoo.com/font-size/license.html
 * version: 3.3.0
 * build: 3167 */
/* line 8, yui_fonts.sass */
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}

/* line 13, yui_fonts.sass */
select, input, button, textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}

/* line 16, yui_fonts.sass */
table {
  font-size: inherit;
  font: 100%;
}

/* line 20, yui_fonts.sass */
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* custom */
/* line 56, style.sass */
body {
  color: #333333;
  background-color: #9ae0a1;
}

/* line 59, style.sass */
div, ul, ol, li {
  overflow: hidden;
}

/* line 61, style.sass */
p {
  margin: 5px 0;
}

/* line 64, style.sass */
blockquote {
  margin: 10px 0;
  padding: 5px 0;
  opacity: 0.8;
  font-style: italic;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
}
/* line 73, style.sass */
blockquote:before {
  content: "â€";
  font-size: 500%;
  color: #999999;
  font-family: "cursive";
  position: absolute;
  top: 1;
  left: 1;
}
/* line 81, style.sass */
blockquote p {
  padding: 0 1em 0 4em;
}

/* line 83, style.sass */
ul > li {
  list-style: disc inside;
}

/* line 85, style.sass */
ol > li {
  list-style: decimal inside;
}

/* line 87, style.sass */
a {
  font-weight: bold;
  color: #09a318;
  text-decoration: none;
}
/* line 91, style.sass */
a:hover {
  color: #007000;
}

/* line 94, style.sass */
strong {
  font-weight: bold;
  font-size: 108%;
}

/* line 97, style.sass */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  text-shadow: 2px 2px 1px rgba(51, 51, 51, 0.2);
  font-weight: bold;
  line-height: 300%;
}

/* line 102, style.sass */
h1 {
  font-size: 325%;
  line-height: 250%;
}

/* line 105, style.sass */
h2 {
  font-size: 167%;
}

/* line 107, style.sass */
h3 {
  font-size: 153.9%;
}

/* line 109, style.sass */
h4 {
  font-size: 138.5%;
}

/* line 111, style.sass */
h5 {
  font-size: 123.1%;
}

/* line 113, style.sass */
h6 {
  font-size: 108%;
}

/*-- wrap -- */
/* line 118, style.sass */
#wrap {
  background-color: #c9f0ce;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 30px auto;
  width: 960px;
}

/*-- header -- */
/* line 135, style.sass */
#header {
  background-color: #09a318;
  width: 960px;
}
/* line 138, style.sass */
#header h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 1px rgba(255, 255, 255, 0.2);
}
/* line 142, style.sass */
#header nav ul {
  margin: 0 auto;
  width: 950px;
  background-color: #09a318;
}
/* line 146, style.sass */
#header nav ul li {
  background-color: #9ae0a1;
  display: block;
  float: left;
  width: 186px;
  list-style: none;
  text-align: center;
  border: 2px solid #09a318;
}
/* line 154, style.sass */
#header nav ul li a {
  display: block;
  line-height: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0 0;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 1px 0 0;
  box-shadow: rgba(255, 255, 255, 0) 0 1px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0) 0 1px 0;
  background-color: #89cf90;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD2ECD4', endColorstr='#FF89CF90');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2ecd4), color-stop(100%, #89cf90));
  background-image: -webkit-linear-gradient(#d2ecd4 0%, #89cf90 100%);
  background-image: -moz-linear-gradient(#d2ecd4 0%, #89cf90 100%);
  background-image: -o-linear-gradient(#d2ecd4 0%, #89cf90 100%);
  background-image: linear-gradient(#d2ecd4 0%, #89cf90 100%);
}
/* line 160, style.sass */
#header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0) 0 1px 0 inset;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0) 0 1px 0 0 inset;
  border-right: none;
  border-bottom: none;
}

/*-- about -- */
/* line 180, style.sass */
#about {
  background-color: #09a318;
  clear: both;
  width: 960px;
}
/* line 184, style.sass */
#about h2 {
  line-height: 200%;
}
/* line 186, style.sass */
#about ol {
  width: 948px;
  margin: 0 auto;
}
/* line 189, style.sass */
#about ol li {
  background-color: #c9f0ce;
  border: 4px solid #9ae0a1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  float: left;
  width: 240px;
  margin: 24px;
  padding: 10px;
  list-style: none;
}

/*-- body -- */
/* line 210, style.sass */
#body {
  width: 960px;
}
/* line 212, style.sass */
#body #main {
  float: left;
  margin: 20px;
  width: 720px;
}
/* line 218, style.sass */
#body #main .breadcrumbs ol li {
  float: left;
  list-style: none;
}
/* line 221, style.sass */
#body #main .breadcrumbs a:after {
  content: ">";
  margin: 7px;
}
/* line 224, style.sass */
#body #main article {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: white 0 1px 0 0 inset;
  -moz-box-shadow: white 0 1px 0 0 inset;
  box-shadow: white 0 1px 0 0 inset;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: white 0 1px 0 0;
  -moz-box-shadow: white 0 1px 0 0;
  box-shadow: white 0 1px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
}
/* line 231, style.sass */
#body #main article .body {
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
}
/* line 236, style.sass */
#body #main article .body ul, #body #main article .body ol {
  margin: 10px;
}
/* line 238, style.sass */
#body #main article .body ul li, #body #main article .body ol li {
  line-height: 160%;
}
/* line 240, style.sass */
#body #main article .body table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: white 0 1px 0 0;
  -moz-box-shadow: white 0 1px 0 0;
  box-shadow: white 0 1px 0 0;
  margin: 20px;
}
/* line 244, style.sass */
#body #main article .body table th, #body #main article .body table td {
  border: 1px solid #09a318;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: white 0 1px 0 0 inset;
  -moz-box-shadow: white 0 1px 0 0 inset;
  box-shadow: white 0 1px 0 0 inset;
}
/* line 248, style.sass */
#body #main article .body table th {
  background-color: #09a318;
}
/* line 250, style.sass */
#body #main article .body table td {
  background-color: #c9f0ce;
}
/* line 252, style.sass */
#body #main aside#comments {
  margin: 10px;
}
/* line 254, style.sass */
#body #main aside#comments ul > li {
  margin: 10px;
}
/* line 256, style.sass */
#body #main aside#comments ul > li dl {
  color: #999999;
}
/* line 258, style.sass */
#body #sub {
  float: right;
  width: 200px;
}
/* line 261, style.sass */
#body #sub aside.ad {
  border: 1px solid #ea9a5d;
  outline: 1px solid #ea9a5d;
  background-color: #ea9a5d;
  background-color: #ea9a5d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF0B68A', endColorstr='#FFEA9A5D');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0b68a), color-stop(100%, #ea9a5d));
  background-image: -webkit-linear-gradient(#f0b68a 0%, #ea9a5d 100%);
  background-image: -moz-linear-gradient(#f0b68a 0%, #ea9a5d 100%);
  background-image: -o-linear-gradient(#f0b68a 0%, #ea9a5d 100%);
  background-image: linear-gradient(#f0b68a 0%, #ea9a5d 100%);
  margin: 4.5px;
  width: 190px;
  height: 190px;
}
/* line 267, style.sass */
#body #sub aside.ad p {
  padding: 10px;
}
/* line 269, style.sass */
#body #sub #local ul {
  margin: 0 4.5px;
  width: 190px;
  border: 1px solid #9ae0a1;
}
/* line 273, style.sass */
#body #sub #local ul li {
  height: 50px;
  list-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.2);
  border-style: solid;
}
/* line 279, style.sass */
#body #sub #local ul li a {
  margin: 5px;
}
/* line 281, style.sass */
#body #sub aside.banners {
  margin: 4.5px;
  width: 190px;
  border: 1px solid #9ae0a1;
}
/* line 285, style.sass */
#body #sub aside.banners li {
  height: 45px;
  border-width: 1px;
  border-style: solid;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0 inset;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
}

/*-- footer -- */
/* line 296, style.sass */
#footer {
  background-color: #09a318;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0CD31F', endColorstr='#FF09A318');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0cd31f), color-stop(100%, #09a318));
  background-image: -webkit-linear-gradient(#0cd31f 0%, #09a318 100%);
  background-image: -moz-linear-gradient(#0cd31f 0%, #09a318 100%);
  background-image: -o-linear-gradient(#0cd31f 0%, #09a318 100%);
  background-image: linear-gradient(#0cd31f 0%, #09a318 100%);
  background-color: #09a318;
  clear: both;
  width: 100%;
}
/* line 301, style.sass */
#footer nav {
  text-align: center;
  padding: 20px;
}
/* line 305, style.sass */
#footer nav ul li {
  display: inline;
}
/* line 307, style.sass */
#footer nav ul li a {
  color: #007000;
  margin: 0 6px;
}
/* line 310, style.sass */
#footer nav ul li a:hover {
  color: #6fff7e;
}
/* line 312, style.sass */
#footer p.copyright {
  margin: 10px 0 0 0;
  text-align: center;
}
