@import compass/reset
@import yui_fonts

$body_width: 800px

div, ul, ol, li
  background-color: rgba(0, 25, 0, 0.2)

/*-- wrap --

#wrap
  margin: 0 auto
  width: $body_width

/*-- header --

#header
  width: $body_width
  h1
    text-align: center
  nav ul
    margin: 0
    padding: 0
    li
      display: block
      float: left
      margin: 0
      width: 20%
      list-style: none
      text-align: center
      a
        display: inline-block
        line-height: 40px

/*-- about --
$about_content_width: 250px
$num_of_about_contents: 3
$about_content_margin: 2px
$about_contents_width: ($about_content_width+$about_content_margin*2) * $num_of_about_contents

#about
  clear: both
  width: $body_width
  ol
    width: $about_contents_width
    margin: 0 auto
    li
      float: left
      width: $about_content_width
      margin: $about_content_margin
      list-style: none

/*-- body --

#body
  width: 100%
  margin: 0
  padding: 0
  #main
    float: left
    width: 600px
    .breadcrumbs
      ol
        margin: 0
        padding: 0
        li
          float: left
          list-style: none
      a:after
        content: ">"
        margin: 7px
    aside#comments
      margin: 10px
      ul > li
        margin: 10px
  #sub
    float: right
    width: 200px
    aside.ad p
      margin: 5px auto
      padding: 10px
      width: 170px
      height: 170px
      border: 1px solid black
    #local ul
      margin: 0 auto
      padding: 0
      width: 190px
      border: 1px solid black
      li
        width: 188px
        height: 50px
        list-style: none
        border-width: 1px
        border-color: #666 #999 #999 #666
        border-style: solid
        a
          margin: 5px

/*-- footer --

#footer
  clear: both
  width: 100%
  nav
    line-height: 300%
    text-align: center
    margin: 0
    padding: 0
    ul
      margin: 0
      padding: 0
      li
        display: inline
        a
          margin: 0 6px
  p.copyright
    margin: 0
    padding: 0
    line-height: 400%
    text-align: center
