/* ここにcssを書いてみましょう */

/*-- wrap --*/
#wrap {
  margin: 0 auto 0 auto;
  width: 800px;
}

/*-- header --*/
#header {
  width: 100%;
}

/*-- about --*/
#about {
  width: 100%;
}

/*-- body --*/
#body {
  overflow: hidden;
  width: 100%;
}
#body #main {
  float: left;
  width: 600px;
}
#body #sub {
  float: left;
  width: 200px;
}

/*-- footer --*/
#footer{
  width: 100%;
}
