/* line 17, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-dev/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Copyright (c) 2010, Yahoo! Inc. All rights reserved.
 * Code licensed under the BSD License:
 * http://developer.yahoo.com/font-size/license.html
 * version: 3.3.0
 * build: 3167 */
/* line 8, yui_fonts.sass */
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}

/* line 13, yui_fonts.sass */
select, input, button, textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}

/* line 16, yui_fonts.sass */
table {
  font-size: inherit;
  font: 100%;
}

/* line 20, yui_fonts.sass */
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* line 4, style.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 200%;
}

/* line 7, style.sass */
h1 {
  font-size: 197%;
}

/* line 9, style.sass */
h2 {
  font-size: 167%;
}

/* line 11, style.sass */
h3 {
  font-size: 153.9%;
}

/* line 13, style.sass */
h4 {
  font-size: 138.5%;
}

/* line 15, style.sass */
h5 {
  font-size: 123.1%;
}

/* line 17, style.sass */
h6 {
  font-size: 108%;
}

/* line 28, style.sass */
body {
  background-color: #9ae0a1;
}

/* line 30, style.sass */
div, ul, ol, li {
  background-color: #c9f0ce;
  overflow: hidden;
}

/*-- wrap -- */
/* line 41, style.sass */
#wrap {
  border-radius: 10px;
  margin: 30px auto;
  width: 1000px;
}

/*-- header -- */
/* line 48, style.sass */
#header {
  background-color: #09a318;
  width: 1000px;
}
/* line 51, style.sass */
#header h1 {
  text-align: center;
}
/* line 54, style.sass */
#header nav ul li {
  display: block;
  float: left;
  width: 20%;
  list-style: none;
  text-align: center;
}
/* line 60, style.sass */
#header nav ul li a {
  display: inline-block;
  line-height: 40px;
}

/*-- about -- */
/* line 71, style.sass */
#about {
  clear: both;
  width: 1000px;
}
/* line 74, style.sass */
#about ol {
  width: 762px;
  margin: 0 auto;
}
/* line 77, style.sass */
#about ol li {
  float: left;
  width: 250px;
  margin: 2px;
  list-style: none;
}

/*-- body -- */
/* line 91, style.sass */
#body {
  width: 1000px;
}
/* line 93, style.sass */
#body #main {
  float: left;
  width: 600px;
}
/* line 98, style.sass */
#body #main .breadcrumbs ol li {
  float: left;
  list-style: none;
}
/* line 101, style.sass */
#body #main .breadcrumbs a:after {
  content: ">";
  margin: 7px;
}
/* line 104, style.sass */
#body #main aside#comments {
  margin: 10px;
}
/* line 106, style.sass */
#body #main aside#comments ul > li {
  margin: 10px;
}
/* line 108, style.sass */
#body #sub {
  float: right;
  width: 400px;
}
/* line 111, style.sass */
#body #sub aside.ad {
  border: 1px solid #ea9a5d;
  outline: 1px solid #ea9a5d;
  background-color: #ea9a5d;
  margin: 4.5px;
  width: 390px;
  height: 390px;
}
/* line 116, style.sass */
#body #sub aside.ad p {
  padding: 10px;
}
/* line 118, style.sass */
#body #sub #local ul {
  margin: 0 4.5px;
  width: 390px;
  border: 1px solid black;
}
/* line 122, style.sass */
#body #sub #local ul li {
  height: 50px;
  list-style: none;
  border-width: 1px;
  border-color: #666666 #999999 #999999 #666666;
  border-style: solid;
}
/* line 128, style.sass */
#body #sub #local ul li a {
  margin: 5px;
}
/* line 130, style.sass */
#body #sub aside.banners {
  margin: 4.5px;
  width: 390px;
  border: 1px solid black;
}
/* line 134, style.sass */
#body #sub aside.banners li {
  height: 45px;
  border-width: 1px;
  border-color: #666666 #999999 #999999 #666666;
  border-style: solid;
}

/*-- footer -- */
/* line 142, style.sass */
#footer {
  background-color: #09a318;
  clear: both;
  width: 100%;
}
/* line 146, style.sass */
#footer nav {
  line-height: 300%;
  text-align: center;
}
/* line 150, style.sass */
#footer nav ul li {
  display: inline;
}
/* line 152, style.sass */
#footer nav ul li a {
  margin: 0 6px;
}
/* line 154, style.sass */
#footer p.copyright {
  line-height: 400%;
  text-align: center;
}
