@import compass/reset
@import yui_fonts

h1, h2, h3, h4, h5, h6
  font-weight: bold
  line-height: 300%
h1
  font-size: $size-26px
h2
  font-size: $size-22px
h3
  font-size: $size-20px
h4
  font-size: $size-18px
h5
  font-size: $size-16px
h6
  font-size: $size-14px

$main-color: #09A318
$base-color: #C9F0CE
$sub-color: #9AE0A1
$accent-color: #EA9A5D
$text-color: #000000
$sub-text-color: #666666

$wrap-width: 1000px

body
  background-color: $sub-color
div, ul, ol, li
  background-color: $base-color
  overflow: hidden

@mixin box-base
  border: 1px solid $accent-color
  outline: 1px solid $accent-color
  background-color: $accent-color

/*-- wrap --

#wrap
  border-radius: 10px
  margin: 30px auto
  width: $wrap-width

/*-- header --

#header
  background-color: $main-color
  width: $wrap-width
  h1
    text-align: center
  nav ul
    li
      display: block
      float: left
      width: 20%
      list-style: none
      text-align: center
      a
        display: inline-block
        line-height: 40px

/*-- about --

$about-content-width: 240px
$about-content-border-width: 2px
$about-content-padding: 10px
$num-of-about-contents: 3
$about-content-margin: 24px
$about-contents-width: ($about-content-width + $about-content-padding * 2 + $about-content-margin * 2 + $about-content-border-width * 2) * $num-of-about-contents

#about
  clear: both
  width: $wrap-width
  h2
    line-height: 200%
  ol
    width: $about-contents-width
    margin: 0 auto
    li
      border: $about-content-border-width solid green
      border-radius: 7px
      float: left
      width: $about-content-width
      margin: $about-content-margin
      padding: $about-content-padding
      list-style: none

/*-- body --

$sub-width: 200px
$main-margin: 20px
$main-width: $wrap-width - $sub-width - $main-margin * 2
$sub-contents-width: $sub-width - 10px
$sub-contents-border: 1px
$sub-contents-margin: ($sub-width - $sub-contents-width - $sub-contents-border) / 2

#body
  width: $wrap-width
  #main
    float: left
    margin: $main-margin
    width: $main-width
    .breadcrumbs
      ol
        li
          float: left
          list-style: none
      a:after
        content: ">"
        margin: 7px
    aside#comments
      margin: 10px
      ul > li
        margin: 10px
        dl
          color: $sub-text-color
  #sub
    float: right
    width: $sub-width
    aside.ad
      @include box-base
      margin: $sub-contents-margin
      width: $sub-contents-width
      height: $sub-contents-width
      p
        padding: 10px
    #local ul
      margin: 0 $sub-contents-margin
      width: $sub-contents-width
      border: $sub-contents-border solid black
      li
        height: 50px
        list-style: none
        border-width: $sub-contents-border
        border-color: #666 #999 #999 #666
        border-style: solid
        a
          margin: 5px
    aside.banners
      margin: $sub-contents-margin
      width: $sub-contents-width
      border: $sub-contents-border solid black
      li
        height: 45px
        border-width: $sub-contents-border
        border-color: #666 #999 #999 #666
        border-style: solid

/*-- footer --

#footer
  background-color: $main-color
  clear: both
  width: 100%
  nav
    line-height: 300%
    text-align: center
    ul
      li
        display: inline
        a
          margin: 0 6px
  p.copyright
    line-height: 400%
    text-align: center
